<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="./download.jpeg" type="image/x-icon">
    <title>Organizador</title>
</head>

<body>
    
    <section class="time">
        <h2 id="date"></h2>
        <h2 id="our"></h2>
    </section>

    <header>
        <h1>¡Bienvenido Marcelo!</h1>
    </header>


    <section class="container">
        <section class="days">
        
            <div class="day">
                <h2 class="dayL">Lunes</h2>
            </div>
        
            <div class="day">
                <h2 class="dayL">Martes</h2>
            </div>
            <div class="day">
                <h2 class="dayL">Miércoles</h2>
            </div>
            <div class="day">
                <h2 class="dayL">Jueves</h2>
            </div>
            <div class="day">
                <h2 class="dayL">Viernes</h2>
            </div>
        </section>
    </section>

    <section class="but">
        <h2 class="tasks">Ver todas las tareas</h2>
    </section>
    <img src="./download.jpeg" alt="sppat logo">
</body>
<script src="./data.js"></script>
</html>